
Chess/bin/Debug/netstandard2.0/Chess.deps.json
Chess/bin/Debug/netstandard2.0/Chess.dll
Chess/bin/Debug/netstandard2.0/Chess.pdb
Chess/obj/Chess.csproj.nuget.cache
Chess/obj/Chess.csproj.nuget.dgspec.json
Chess/obj/Chess.csproj.nuget.g.props
Chess/obj/Chess.csproj.nuget.g.targets
Chess/obj/Debug/netstandard2.0/Chess.assets.cache
Chess/obj/Debug/netstandard2.0/Chess.csproj.FileListAbsolute.txt
Chess/obj/Debug/netstandard2.0/Chess.csprojAssemblyReference.cache
Chess/obj/Debug/netstandard2.0/Chess.dll
Chess/obj/Debug/netstandard2.0/Chess.pdb
Chess/obj/project.assets.json
ConsoleUIChessProject/bin/Debug/netcoreapp3.0/Chess.dll
ConsoleUIChessProject/bin/Debug/netcoreapp3.0/Chess.pdb
ConsoleUIChessProject/bin/Debug/netcoreapp3.0/ConsoleUIChessProject.deps.json
ConsoleUIChessProject/bin/Debug/netcoreapp3.0/ConsoleUIChessProject.dll
ConsoleUIChessProject/bin/Debug/netcoreapp3.0/ConsoleUIChessProject.exe
ConsoleUIChessProject/bin/Debug/netcoreapp3.0/ConsoleUIChessProject.pdb
ConsoleUIChessProject/bin/Debug/netcoreapp3.0/ConsoleUIChessProject.runtimeconfig.dev.json
ConsoleUIChessProject/bin/Debug/netcoreapp3.0/ConsoleUIChessProject.runtimeconfig.json
ConsoleUIChessProject/obj/ConsoleUIChessProject.csproj.nuget.cache
ConsoleUIChessProject/obj/ConsoleUIChessProject.csproj.nuget.dgspec.json
ConsoleUIChessProject/obj/ConsoleUIChessProject.csproj.nuget.g.props
ConsoleUIChessProject/obj/ConsoleUIChessProject.csproj.nuget.g.targets
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.AssemblyInfo.cs
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.AssemblyInfoInputs.cache
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.assets.cache
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.csproj.CopyComplete
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.csproj.FileListAbsolute.txt
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.csprojAssemblyReference.cache
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.dll
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.exe
ConsoleUIChessProject/obj/Debug/netcoreapp3.0/ConsoleUIChessProject.pdb
ConsoleUIChessProject/obj/project.assets.json
